<div class="content-wrapper">

  <div class="col-md-8 centered">
    <h2 align="center"><%= @article.title %></h2>
    <hr>
  </div>
  <div class="col-md-8 centered post-wrap">

  <%= simple_format(@article.description) %>

  </div>
  <div class="col-md-8 centered">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
    <%= link_to "Delte", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-danger" %>
    <%= link_to "Back to artciles listing", articles_path, class: "btn btn-secondary" %>
  </div>
</div>