<div class="form-wrapper">
<h1 align="center" class="articles-h1">ALl Bloggers</h1>
  <div class="pagination"><%= paginate @users %></div>
<% @users.each do |user| %>
    <ul class="listing users-wrap">
      <div class="row">
        <div class="col-md-4 user-card">
          <li>
            <%= link_to gravatar_for(user), user_path(user) %>
          </li>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
          <li class="c-gray">
            <small>
              <%= pluralize(user.articles.count, "article") if user.articles %>
            </small>F
          </li>
        </div>
      </div>
    </ul>
<% end %>
  <div class="pagination"><%= paginate @users %></div>
</div>

